<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856570783700-28mtcaov5b66fea21urk05vl2ivsgjmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856570783700-28mtcaov5b66fea21urk05vl2ivsgjmm</string>
	<key>API_KEY</key>
	<string>AIzaSyCKfusfaW3QtIDavuqktwQ0wCgAb4peDqw</string>
	<key>GCM_SENDER_ID</key>
	<string>856570783700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.choonjang.login</string>
	<key>PROJECT_ID</key>
	<string>choonjang-sample-login</string>
	<key>STORAGE_BUCKET</key>
	<string>choonjang-sample-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856570783700:ios:0ba05dce2ac835d2af1841</string>
</dict>
</plist>